.inntektsteg {
    &__tittel {
        margin-bottom: 1.5rem;
    }

    &__illustrajon {
        margin-top: 2rem;
        padding: 1rem;
        border: 2px solid #cce1f3;
        border-radius: 4px;
    }

    &__rad {
        margin-bottom: 0.75rem;
    }

    &__ikon {
        padding-right: 0.75rem;
    }

    &__info-seksjon {
        padding: 3rem 0 1rem 0;
    }

    &__lesmer-info {
        padding-bottom: 0.5rem;
    }

    .ekspanderbartPanel__tittel {
        width: 100%;
    }

    .ekspanderbartPanel__hode {
        background-color: #e0f5fb;
    }

    &__ekspanderbartpanel-tittel {
        padding: 0 0.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
}
