name: Bygg og deploy

on:
  push:
    branches:
      - 'main'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  IMAGE: ghcr.io/${{ github.repository }}:${{ github.sha }}

jobs:
  bygg:
    name: Bygg og deploy
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v2
      - name: Server yarn install
        working-directory: ./server
        run: yarn install
      - name: Server yarn build
        working-directory: ./server
        run: yarn build
      - name: Frontend yarn install
        run: yarn install
      - name: Frontend yarn build
        run: yarn build
      - name: Bygg, tag og push Docker-image
        run: |
          docker build --tag $IMAGE .
          echo ${{ secrets.GHCR_PUSH_TOKEN }} | docker login ghcr.io -u ${{ secrets.GHCR_PUSH_USERNAME }} --password-stdin
          docker push $IMAGE

  deploy-dev:
    name: Deploy til dev-gcp
    runs-on: ubuntu-latest
    needs: bygg
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v2
      - name: Deploy til dev-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/redis.yml,.nais/nais.yml,.nais/alerts.yml
          PRINT_PAYLOAD: true
          VARS: .nais/dev.yml

  deploy-labs:
    name: Deploy til labs-gcp
    runs-on: ubuntu-latest
    needs: bygg
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v2
      - name: Deploy til labs-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: labs-gcp
          RESOURCE: .nais/nais.yml
          PRINT_PAYLOAD: true
          VARS: .nais/labs.yml

